.wp-block-themeisle-blocks-icon-list {
	display: flex;
	flex-direction: column;

	&.is-style-vertical {
		flex-direction: column;
	}

	&.is-style-horizontal {
		flex-direction: unset;
		flex-wrap: wrap;
		align-items: center;
	}

	.block-editor-inner-blocks {
		display: flex;
		flex-direction: inherit;
		align-items: inherit;

		.block-editor-block-list__layout {
			display: flex;
			flex-direction: inherit;
			flex-wrap: wrap;
			align-items: inherit;

			.block-editor-block-list__block {
				margin: 0px;

				.wp-block-themeisle-blocks-icon-list-item {
					display: inline-flex;
					align-items: center;
					transition: margin 0.10s linear;

					.wp-block-themeisle-blocks-icon-list-item-title {
						margin-top: 0px;
						margin-bottom: 0px;
						margin-left: 10px;
						margin-right: 10px;

						&-custom {
							margin-top: 0px;
							margin-bottom: 0px;
							margin-left: 10px;
							margin-right: 10px;
						}
					}

					p {
						margin-bottom: 0px;
					}
				}
			}
		}
	}
}