.wp-block-themeisle-blocks-icon-list { 
	display: flex;

	&.is-style-vertical {
		flex-direction: column;

		> *:not(:last-child) {
			margin-bottom: 50px;
		}
	}

	&.is-style-horizontal {
		flex-wrap: wrap;
		align-items: center;

		> *:not(:last-child) {
			margin-right: 50px;
		}
	}

	.wp-block-themeisle-blocks-icon-list-item {
		display: inline-flex;
		align-items: center;
		transition: margin 0.10s linear;

		.wp-block-themeisle-blocks-icon-list-item-content {
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 10px;
			margin-right: 10px;

			&-custom {
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 10px;
				margin-right: 10px;
			}
		}

		p {
			margin-bottom: 0px;
		}
	}
}