.wp-block-themeisle-blocks-icon-list { 
	
	.wp-block-themeisle-blocks-icon-list-items {
		display: flex;
		
		&.is-vertical {
			flex-direction: column;
		}

		&.is-horizontal {
			flex-wrap: wrap;
			align-items: center;
		}

		@import './item/style.scss';
	}	
}