.wp-block-themeisle-blocks-icon-list { 
	display: flex;

	&.is-style-vertical {
		flex-direction: column;
		
		> *:not(:last-child) {
			margin-bottom: 50px;
		}
	}

	&.is-style-horizontal {
		flex-wrap: wrap;
		align-items: center;

		
		> *:not(:last-child) {
			margin-right: 50px;
		}
	}

	
	
	@import './item/style.scss';	
}