{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": "wordpress",
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "babelOptions": {
           "configFile": "./.babelrc.js"
        }
    },
    "plugins": [
        "react",
        "@babel"
    ],
    "overrides": [
        {
            "files": [ "**/*.ts", "**/*.tsx" ],
            "parser":"@typescript-eslint/parser", // Specifies the ESLint parser
            "parserOptions": {
                "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
                "sourceType": "module", // Allows for the use of imports
                "ecmaFeatures": {
                    "jsx": true // Allows for the parsing of JSX
                }
            },
            "extends": [
                "plugin:react/recommended",
                "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
                "wordpress"
            ],
            "settings": {
                "react": {
                    "version": "detect"
                }
            }
        }
    ],
    "rules": {
        "object-curly-spacing": ["warn", "always"],
        "array-bracket-spacing": ["error", "always", { "arraysInArrays": false, "objectsInArrays": false }],
        "indent": [
            "error",
            "tab"
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "@babel/semi": [
            "error",
            "always"
        ],
        "no-unused-vars": [
            "error", {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false
            }
        ],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    }
}