
.wp-block-themeisle-blocks-form-captcha {

	.wp-block-themeisle-blocks-form_placeholder {
		display: flex;
		flex-direction: row;
		margin: 10px;
		.wp-block-themeisle-blocks-form_placeholder__button {
			border: 1.5px solid black;
		}
	}

	.components-placeholder__actions {
		width: 100%;
	}

	.components-placeholder__label > svg {
		width: 32px;
		height: 32px;
	}
}
