
.wp-block-themeisle-blocks-form-captcha {

	border: 2px dashed rgba(94, 94, 94, 0.733);
	padding: 1rem;

	.wp-block-themeisle-blocks-form_placeholder {
		display: flex;
		flex-direction: row;
		margin: 10px;
		.wp-block-themeisle-blocks-form_placeholder__button {
			border: 1.5px solid black;
		}
	}

	.components-placeholder__actions {
		width: 100%;
	}

	.components-placeholder__label > svg {
		width: 32px;
		height: 32px;
	}
}
