.wp-block-themeisle-toolbar {
	display: flex;
	align-items: center;
	padding: 0 3px;

	.wp-block-themeisle-toolbar-icon {
		width: 30px;
		height: 30px;
		padding: 5px 0;
		color: #555d66;
		border-radius: 4px;

		&:hover {
			box-shadow: inset 0 0 0 1px #555d66;
		}
	}
}