$toggler-background-color: rgb(255, 255, 255);

.wp-block-themeisle-blocks-accordion-tab {
  max-height: max-content;
  width: 100%;
  overflow: hidden;

  margin-bottom: 5px;
  border: solid 2px black;
  padding: 4px;

  transition: all 0.1s ease-in;

  .wp-block-themeisle-blocks-accordion-block-tab-toggle {
    display: none;

    &:checked
      + .wp-block-themeisle-blocks-accordion-block-tab-title
      + .wp-block-themeisle-blocks-accordion-block-tab-content {
      opacity: 1;
      max-height: max-content;
      transition: all 1s ease-in;
    }

    &:checked + .wp-block-themeisle-blocks-accordion-block-tab-title {
      .wp-block-themeisle-blocks-accordion-block-tab-title__icon__start,
      .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end {
        transform: rotate(90deg);
      }
    }

    &:checked + .wp-block-themeisle-blocks-accordion-block-tab-title {
      .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end {
        .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end__2 {
          transform: rotate(90deg);
        }
      }
    }
  }

  .wp-block-themeisle-blocks-accordion-block-tab-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 5px;

    .wp-block-themeisle-blocks-accordion-block-tab-label {
      display: flex;
      align-items: center;
      background-color: transparent;
      color: #444;
      font-weight: bold;
      width: inherit;
      border: none;
      text-align: left;
      outline: none;
      font-size: 20px;
      transition: 0.4s;
      margin-top: 0px;
      margin-bottom: 0px;
      line-height: 1.2;
      margin-left: 4px;
    }

    label {
      margin-bottom: 0px;
    }

    svg {
      text-align: center;
      transition: all 0.35s;
      fill: gray;
    }

    .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end {
      width: 2.5rem;
      height: 2.5rem;
      display: none;
      align-items: center;
      justify-content: center;
      .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end__1,
      .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end__2 {
        display: block;
        position: absolute;
        width: 1.6rem;
        height: 0.2rem;
        background-color: black;
        transition: all 0.2s;
      }

      .wp-block-themeisle-blocks-accordion-block-tab-title__icon__end__1 {
        transform: rotate(90deg);
      }

      &.show {
        display: flex;
      }
    }
  }

  .wp-block-themeisle-blocks-accordion-block-tab-content {
    padding: 0 13px;
    padding-top: 3px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s;

    .wp-block-themeisle-blocks-accordion-block-tab-content__input {
      line-height: 1.1;
    }
  }
}
