.wp-block-themeisle-blocks-responsive-control {
	.components-base-control__title {
		display: flex;
		justify-content: space-between;
		margin-bottom: .5em;

		label {
			padding: 5px 0;
		}

		.floating-controls {
			display: flex;

			button {
				&.is-primary {
					z-index: 0;

					&:hover {
						background: #007eb1;
						border-color: #006a95 #00648c #00648c;
						box-shadow: inset 0 -1px 0 #00648c;
						color: #fff;
						text-decoration: none;
						text-shadow: 0 -1px 1px #005d82,1px 0 1px #005d82,0 1px 1px #005d82,-1px 0 1px #005d82;
					}
				}
			}
		}
	}
}

.wp-block-themeisle-responsiveness-settings {
	padding: 10px;

	.responsiveness-title {
		margin-bottom: 8px;
		color: #6c7781;
	}

	.responsiveness-item {
		padding: 10px;
		width: 100%;

		&:hover {
			box-shadow: inset 0 0 0 1px #6c7781,inset 0 0 0 2px #fff;
		}

		&.is-selected {
			background: #edeff0;
		}

		.popover-title {
			color: #40464d;
			padding-left: 5px;
		}
	}
}