.wp-block-themeisle-blocks-accordion {
	.wp-block-themeisle-blocks-accordion-item {
		.wp-block-themeisle-blocks-accordion-item__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #1e1e1e;
			background: #ffffff;
			border: 1px solid #d5dadf;
			padding: 18px 24px;
			list-style: none;
			cursor: pointer;
			user-select: none;

			svg {
				width: 24px;
				height: 24px;
			}

			&:hover {
				filter: brightness( 0.95 );
			}

			&::after {
				content: "";
				background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" size="24" role="img" aria-hidden="true" focusable="false"><path d="M17.5 11.6L12 16l-5.5-4.4.9-1.2L12 14l4.5-3.6 1 1.2z"></path></svg>') no-repeat;
				width: 24px;
				height: 24px;
			}
		}

		.wp-block-themeisle-blocks-accordion-item__content {
			background: #ffffff;
			border: 1px solid #d5dadf;
			border-top: none;
			padding: 18px 24px;
		}

		&[open] {
			.wp-block-themeisle-blocks-accordion-item__title {
				&::after {
					background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" size="24" role="img" aria-hidden="true" focusable="false"><path d="M6.5 12.4L12 8l5.5 4.4-.9 1.2L12 10l-4.5 3.6-1-1.2z"></path></svg>') no-repeat;
				}
			}
		}

		&:not( :first-child ) {
			.wp-block-themeisle-blocks-accordion-item__title {
				border-top: none;
			}
		}
	}
}
