.wp-block-themeisle-blocks-progress-bar {
	display: flex;
	flex-direction: column;

	&.has-tooltip {
		margin-top: 43px;
	}

	.wp-block-themeisle-blocks-progress-bar__outer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: .25em;

		.wp-block-themeisle-blocks-progress-bar__outer__title {
			margin: 0px;
			display: grid;
			align-items: center;
		}

		.wp-block-themeisle-blocks-progress-bar__outer__value {
			margin-left: auto;
			display: grid;
			align-items: center;
		}
	}

	.wp-block-themeisle-blocks-progress-bar__area {
		position: relative;
		width: 100%;
		display: block;
		margin-bottom: 15px;
		width: 100%;
		background: #eee;
		height: 30px;
		border-radius: 5px;
		transition: 0.4s linear;
		transition-property: width, background-color;

		.wp-block-themeisle-blocks-progress-bar__progress {
			display: flex;
			align-items: center;
			position: absolute;
			right: 10px;
			top: 0;
			font-size: 15px;
			height: 30px;
			line-height: 30px;
			color: #ffffff;
			color: rgba(0, 0, 0, 0.4);
		}

		

		.wp-block-themeisle-blocks-progress-bar__area__bar {
			height: 30px;
			width: 0px;
			background: #6adcfa;
			border-radius: 5px;

			.wp-block-themeisle-blocks-progress-bar__progress__append {
				display: flex;
				align-items: center;
				position: relative;
				justify-content: flex-end;
				right: 10px;
				left: 0px;
				top: 0;
				font-size: 15px;
				margin-right: 5px;
				height: 30px;
				line-height: 30px;
				color: #ffffff;
				color: rgba(0, 0, 0, 0.4);
				opacity: 0;

				&.show {
					opacity: 1;
				}
			}

			.wp-block-themeisle-blocks-progress-bar__area__tooltip {
				font-size: 12px;
				min-width: 40px;
				float: right;
				bottom: 40px;
				left: 20px;
				color: white;
				transition: all 1s;
				position: relative;
				padding: 4px 10px 7px 10px;
				background-color: rgba(67, 66, 76, 0.81);
				border-radius: 2px;
				line-height: 20px;
				opacity: 0;

				&.show {
					opacity: 1;
				}
	
				.wp-block-themeisle-blocks-progress-bar__area__arrow {
					width: 0;
					height: 0;
					position: absolute;
					content: "";
					bottom: -5px;
					left: 0;
					right: 0;
					margin: auto;
					display: block;
					border-style: solid;
					border-width: 5px 5px 0 5px;
					border-color: rgba(67, 66, 76, 0.81) transparent transparent transparent;
				}
			}
		}
	}

	.wp-block-themeisle-blocks-progress-bar__area__title {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		font-weight: bold;
		font-size: 13px;
		color: #ffffff;
		background: #6adcfa;
		border-radius: 3px;

		&.transparent {
			background: transparent;
			span {
				background: transparent;
			}
		}

		span {
			display: flex;
			align-items: center;
			border-radius: 5px 0px 0px 5px;
			width: 100%;
			background: rgba(0, 0, 0, 0.1);
			padding: 0 20px;
			height: 30px;
			line-height: 30px;
			border-radius: 3px;
		}
	}
}