.wp-themeisle-block-progress-bar {
    display: flex;
    flex-direction: column;

    .wp-themeisle-block-progress-bar-content__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: .25em;

        .wp-themeisle-block-progress-bar__title {
            margin: 0px;
        }

        .wp-themeisle-block-progress-bar__value {
            margin-left: auto;
        }
    }

    .wp-themeisle-block-progress-bar-content__bottom {
        display: flex;
        justify-content: center;
    }

    #container {
        width: 100%;
        position: relative;

        &.is-bar {
            align-items: center;
            justify-content: center;
            display: flex;
        }
    }
}