.wp-block-themeisle-blocks-business-hours-item {
	display: flex;
	flex-direction: row;
	width: 100%;
	.wp-block-themeisle-blocks-business-hours-item-label {
		font-size: medium;
		width: 50%;
		text-align: center;
	}

	.wp-block-themeisle-blocks-business-hours-item-time {
		font-size: medium;
		width: 50%;
		text-align: center;
	}
}
