.wp-block-themeisle-blocks-icon-list-item {
	display: inline-flex;
	align-items: center;
	margin-bottom: 10px;

	.wp-block-themeisle-blocks-icon-list-item-title {
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 10px;

		&-custom {
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 10px;
		}
		
	}

	p {
		margin-bottom: 0px;
	}
} 
