.wp-block-themeisle-blocks-tabs-item {
	border-color: inherit;

	&:not(:last-child) {
		.wp-block-themeisle-blocks-tabs-item-header {
			border-bottom-style: none;
		}

		@media (max-width: 800px) {
			.wp-block-themeisle-blocks-tabs-item-content {
				border-bottom-style: none;
			}
		}
	}

	.wp-block-themeisle-blocks-tabs-item-header {
		width: 100%;
		border-style: solid;
		padding: 5px 10px;

		@media (min-width: 800px) {
			display: none;
		}

		&.active {
			border-bottom-style: none;
		}
	}

	.wp-block-themeisle-blocks-tabs-item-content {
		border-top: 0px;
		width: 100%;
		border-style: solid;
		border-color: inherit;
		padding: 20px;
		display: none;
		border-top: 0px;
		margin-top: 10px;

		&.active {
			display: block;
		}

		&:first-child {
			display: block;
		}
	}
}
