.wp-block-themeisle-blocks-tabs-item {

	&:not(:last-child) {
		.wp-block-themeisle-blocks-tabs-item-header {
			border-bottom-style: none;
		}

		@media (max-width: 800px) {
			.wp-block-themeisle-blocks-tabs-item-content {
				border-bottom-style: none;
			}
		}
	}

	.wp-block-themeisle-blocks-tabs-item-header {
		width: 100%;
		border: 3px solid black;
		padding: 5px 10px;

		@media (min-width: 800px) {
			display: none;
		}

		&.active {
			border-bottom-style: none;
		}
	}

	.wp-block-themeisle-blocks-tabs-item-content {
		border-top: 0px;
		width: 100%;
		border: 3px solid black;
		padding: 10px;
		display: none;
		border-top: 0px;

		&.active {
			display: block;
		}

		&:first-child {
			display: block;
		}
	}
}
