.themeisle-inboarding-component {
	background: #ffffff;
	border: 1px solid #e7e7e7;
	padding: 50px;

	.components-placeholder__label {
		svg {
			min-width: 20px;
			min-height: 20px;
			max-width: 24px;
			max-height: 24px;
			margin-right: 5px;
		}
	}

	.themeisle-layout-picker {
		width: 100%;

		.wp-block-themeisle-blocks-advanced-column-layout {
			cursor: pointer;
			width: calc( 100% / 6 );
			min-width: 5vw;
			display: inline-block;
			padding: 5px 5px 0px;
	
			svg {
				fill: #d5dadf;
			}
	
			&:hover {
	
				svg {
					fill: #6d7882;
				}
			}
	
			&.selected {
	
				svg {
					fill: #6d7882;
				}
			}
		}
	}

	.themeisle-template-library {
		font-size: 14px;
		height: auto;
		padding: 10px 20px;
		margin-top: 10px;
		display: flex;
		align-items: center;

		svg {
			margin-right: 10px;
		}
	}
}

.themeisle-library-modal {
	.components-modal__content {
		padding: 0;
	
		.components-modal__header {
			display: none;
		}

		.library-modal-control-panel {
			background: #ffffff;
			position: sticky;
			top: 0;
			box-shadow: 0 0px 10px rgba(25,30,35,.2);
			z-index: 99999999;

			.library-modal-header {
				display: flex;
	
				.library-modal-header-logo {
					display: flex;
					flex-basis: 100%;
					justify-content: flex-start;
	
					.library-modal-header-tabs-button {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 17px 20px;
						background: transparent;
						border: 0;
	
						svg {
							width: 20px;
							height: 20px;
							margin-right: 10px;
						}
					}
				}
	
				.library-modal-header-tabs {
					display: flex;
					flex-basis: 100%;
					justify-content: center;
	
					.library-modal-header-tabs-button {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 115px;
						padding: 17px 0;
						background: transparent;
						font-weight: 600;
						cursor: pointer;
						border: 0;
	
						&.is-selected {
							background: #f2f2f3;
						}
	
						&:hover {
							background: #f2f2f3;
						}
	
						&:focus {
							background: #f2f2f3;
						}
	
						svg {
							margin-right: 5px;
						}
					}
				}
	
				.library-modal-header-actions {
					display: flex;
					flex-basis: 100%;
					justify-content: flex-end;
	
					.library-modal-header-tabs-button {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 17px;
						background: transparent;
						font-weight: 600;
						cursor: pointer;
						border: 0;
	
						&.is-selected {
							background: #f2f2f3;
						}
	
						&:hover {
							background: #f2f2f3;
						}
	
						&:focus {
							background: #f2f2f3;
						}
	
						&:last-child {
							border-left: 1px solid #e6e9ec;
						}
	
						svg {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
	
			.library-modal-actions {
				display: flex;
				padding: 15px;
				background: #f2f2f3;
				justify-content: center;
	
				.components-base-control {
					.components-base-control__field {
						margin-bottom: 0;
					}
				}
	
				.library-modal-category-control {
					min-width: 200px;
					margin-right: 10px;

					select {
						height: 30px;
						min-width: 150px;
						padding: 0 5px;
					}
				}
		
				.library-modal-search-control {
					min-width: 200px;
					position: relative;
		
					&:after {
						content: "\F179";
						font-family: dashicons;
						pointer-events: none;
						display: block;
						position: absolute;
						right: 6px;
						top: 6px;
						font-size: 18px;
					}
				}
			}
		}

		.library-modal-error {
			.components-notice {
				display: flex;
				align-items: center;

				.components-button {
					top: unset;
				}
			}
		}

		.library-modal-content {
			display: grid;
			grid-template-columns: 33.3% 33.3% 33.3%;
			padding: 20px;

			button {
				padding: 10px;
				margin: 10px 20px;
				box-shadow: 0 -1px 10px 0 rgba(0,0,0,.07);
				position: relative;
				align-items: center;

				img {
					width: 100%;
				}

				.library-modal-overlay {
					position: absolute;
					z-index: 9999999;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(41,46,55,.9);
					-webkit-transition: all .2s ease-in;
					transition: all .2s ease-in;
					opacity: 0;
					cursor: pointer;
					display: -webkit-box;
					display: -ms-flexbox;
					display: flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					justify-content: center;

					.dashicon {
						color: #fff;
					}
				}
	
				&:hover {
					.library-modal-overlay {
						opacity: 1;
					}
				}

				&:focus {
					.library-modal-overlay {
						opacity: 1;
					}
				}
			}
		}

		.library-modal-loader {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100px;
		}

		.components-modal__icon-container {
			svg {
				min-width: 20px;
				min-height: 20px;
				max-width: 24px;
				max-height: 24px;
				margin-right: 10px;
			}
		}
	}
}

.library-modal-category-selector {
	&.components-popover {
		&:not(.is-mobile) {
			&.is-bottom {
				z-index: 999999;
			}
		}
	}

	.components-menu-item__button {
		padding-left: 2rem;

		&.has-icon {
			padding-left: .5em;
		}
	}
}

@media ( max-width: 782px )  {
	.themeisle-inboarding-component {
		padding: 5em 1em;

		.themeisle-layout-picker {
			.wp-block-themeisle-blocks-advanced-column-layout {
				width: calc( 100% / 3 );
			}
		}
	}

	.themeisle-library-modal {
		.components-modal__content {
			.library-modal-control-panel {
				.library-modal-actions {
					flex-direction: column;

					.library-modal-category-control {
						margin: 0 0 10px 0;
			
						button {
							width: 100%;
						}
					}
			
					.library-modal-search-control {
						width: 100%;
					}
				}
			}

			.library-modal-content {
				grid-template-columns: 100%;
			}
		}
	}
}


@media ( max-width:1439px ) {
	.themeisle-library-modal {
		width: 100%;
		max-width: 990px;
   }
}

@media ( min-width:1440px ) {
	.themeisle-library-modal {
		width: 100%;
		max-width: 1200px;
   }
}