.wp-block-themeisle-blocks-tabs {
	border-color: black;

	.wp-block-themeisle-blocks-tabs-headers {
		display: flex;
		flex-direction: row;
		overflow: hidden;
		border-color: inherit;

		@media (max-width: 800px) {
			display: none;
		}

		.wp-block-themeisle-blocks-tabs-header {
			padding: 5px 10px;
			white-space: nowrap;
			cursor: pointer;

			svg {
				fill: gray;
			}

			&.active {
				position: relative;
				border-color: inherit;
				border-style: solid;

				border-bottom-style: none;

				&::before {
					right: 100%;
					bottom: 0;
					height: 0;
					width: 999rem;
					border-bottom-style: solid;

					display: block;
					content: "";
					position: absolute;
					box-sizing: border-box;
					border-color: inherit;
				}

				&::after {
					left: 100%;
					bottom: 0;
					height: 0;
					width: 999rem;
					border-bottom-style: solid;

					display: block;
					content: "";
					position: absolute;
					box-sizing: border-box;
					border-color: inherit;
				}
			}


		}
	}

	.wp-block-themeisle-blocks-tabs-content {
		border-color: inherit;
		background-color: inherit;
		.block-editor-inner-blocks {
			border-color: inherit;
			background-color: inherit;
			.block-editor-block-list__layout {
				border-color: inherit;
				background-color: inherit;
				div {
					border-color: inherit;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
}

.wp-block-themeisle-blocks-tabs-inspector-tab-option {
	display: flex;
	border: 1px solid #d5dadf;
	cursor: move;
	margin: 10px 0;

	&:hover {
		border-color: #a4afb7;
	}

	.wp-block-themeisle-blocks-tabs-inspector-tab-option__name {
		overflow: hidden;
		flex-basis: 80%;
		padding: 9px 15px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		&:hover {
			background: #fafafb;
		}
	}

	.wp-block-themeisle-blocks-tabs-inspector-tab-option__actions {
		display: flex;
		flex-basis: 20%;
		justify-content: center;
		padding: 10px 5px;
		border-left: 1px solid #d5dadf;
		cursor: pointer;

		&:hover {
			background: #fafafb;
			border-radius: 0;
			box-shadow: none;
		}

		.dashicon {
			margin: 2px;
		}
	}
}

.wp-block-themeisle-blocks-tabs-inspector-add-tab {
	display: flex;
	justify-content: center;
	width: 100%;
}
