.wp-block-themeisle-blocks-tabs {
	border-color: red;

	.wp-block-themeisle-blocks-tabs-headers {
		display: flex;
		flex-direction: row;
		overflow: hidden;

		@media (max-width: 800px) {
			display: none;
		}

		.wp-block-themeisle-blocks-tabs-header {
			padding: 5px 10px;
			white-space: nowrap;
			border-color: inherit;

			&.active {
				border: 3px solid;
				border-bottom-style: none;
				position: relative;
				border-color: inherit;

				&::before {
					right: 100%;
					bottom: 0;
					height: 0;
					width: 999rem;
					border-bottom-style: solid;

					display: block;
					content: "";
					position: absolute;
					box-sizing: border-box;
					border-width: 3px;
					border-color: inherit;
				}

				&::after {
					left: 100%;
					bottom: 0;
					height: 0;
					width: 999rem;
					border-bottom-style: solid;

					display: block;
					content: "";
					position: absolute;
					box-sizing: border-box;
					border-width: 3px;
					border-color: inherit;
				}
			}


		}
	}

	.wp-block-themeisle-blocks-tabs-content {
		border-color: inherit;
		background-color: inherit;
		.block-editor-inner-blocks {
			border-color: inherit;
			background-color: inherit;
			.block-editor-block-list__layout {
				border-color: inherit;
				background-color: inherit;
				div {
					border-color: inherit;
					background-color: inherit;
					margin-top: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
}

.wp-block-themeisle-blocks-tabs-inspector-tab-option {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #bbb;
	border-radius: 10px;
	margin-bottom: 8px;
	cursor: move;

	.wp-block-themeisle-blocks-tabs-inspector-tab-option__name {
		overflow: hidden;
		text-overflow: ellipsis;
		width: 80%;
		display: flex;
		flex-direction: row;

		p {
			margin: 0px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

	}

	.wp-block-themeisle-blocks-tabs-inspector-tab-option__actions {
		display: flex;
		flex-direction: row;

		&::before {
			content: '|';
			margin: 0px 5px;
		}

		button {
			margin-right: 8px;

			&:last-child {
				margin-right: 0px;
			}
		}
	}
}
