.wp-block-themeisle-blocks-circle-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    :nth-child( 2 ) {
        margin-top: 20px;
    }

    .wp-block-themeisle-blocks-circle-counter-title__area {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .wp-block-themeisle-blocks-circle-counter-title__value {
            font-weight: bold;
            text-align: center;
            font-size: 15px;
        }
    }
    
    .wp-block-themeisle-blocks-circle-counter__bar {
        display: flex;
        justify-content: center;
        align-items: center;
    
        .wp-block-themeisle-blocks-circle-counter-container {
            margin: 20px auto;
            max-width: 100%;
        
            .wp-block-themeisle-blocks-circle-counter-bg {
                fill: none;
                stroke: #4682b426;
            }
        
            .wp-block-themeisle-blocks-circle-counter-progress {
                fill: none;
                stroke: #3878ff;
                transform-origin: center;
                transform: rotateZ(-90deg);
                stroke-linecap: round;
            }
    
            .wp-block-themeisle-blocks-circle-counter-text {
                text-anchor: middle;
                dominant-baseline: middle;
                fill: #000000;
                font-size: 15px;
            }
        } 
    }
}