.wp-block-themeisle-onboarding-component {
	border: 1px solid #e7e7e7;
	padding: 25px;

	.components-placeholder__label {
		svg {
			min-width: 20px;
			min-height: 20px;
			max-width: 24px;
			max-height: 24px;
			margin-right: 10px;
		}
	}

	.wp-block-themeisle-layout-picker {
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		margin: 4px 0;

		.wp-block-themeisle-blocks-advanced-column-layout {
			background: #ffffff;
			cursor: pointer;
			max-width: 68px;
			flex-shrink: 1;
			width: 68px;
			height: 68px;
			margin: 5px;
	
			svg {
				fill: #0075af;
			}
	
			&:hover {
	
				svg {
					fill: #005d8c;
				}
			}
		}
	}

	.wp-block-themeisle-template-library {
		font-size: 12px;
		height: auto;
		padding: 6px 12px;
		margin: 15px 10px 10px;
		display: flex;
		align-items: center;
		align-self: center;

		svg {
			margin-right: 10px;
		}
	}
}
