.wp-block-themeisle-blocks-business-hours {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.wp-block-themeisle-blocks-business-hours-container {
		width: 500px;
		display: flex;
		flex-direction: column;
		padding: 15px;

		.wp-block-themeisle-blocks-business-hours-title {
			text-align: center;
		}

		.wp-block-themeisle-blocks-business-hours-content {
			display: flex;
			flex-direction: column;
			padding: 10px;
		}
	}

}
