.wp-block-themeisle-blocks-google-map {
	.components-placeholder {
		padding: 40px 20px;
	}

	.components-placeholder__text {
		font-size: 14px;
		line-height: 1;
	}

	.gm-control-marker-ui {
		background-color: #fff;
		border: 2px solid #fff;
		border-radius: 3px;
		box-shadow: 0 2px 6px rgba(0,0,0,.3);
		cursor: pointer;
		margin-left: 10px;
		padding: 8px;
		text-align: center;

		&:hover {
			.dashicons {

				&:before {
					content: "\f109";
				}
			}
		}

		.dashicons {
			color: #666666;

			&:hover {
				color: #000000;
			}
		}
	}
}

.wp-block-themeisle-blocks-google-map-search {
	width: 100%;
}

.wp-block-themeisle-blocks-google-map-marker-group {
	margin: 0 0 20px;

	.wp-block-themeisle-blocks-google-map-marker {
		margin: 10px 0;

		.wp-block-themeisle-blocks-google-map-marker-title-area {
			display: flex;
			border: 1px solid #d5dadf;
	
			&:hover {
				border-color: #a4afb7;
			}
	
			.wp-block-themeisle-blocks-google-map-marker-title {
				flex-basis: 80%;
				padding: 10px 15px;
				cursor: pointer;
	
				&:hover {
					background: #fafafb;
				}
			}
	
			.wp-block-themeisle-blocks-google-map-marker-remove {
				display: flex;
				flex-basis: 20%;
				justify-content: center;
				padding: 10px 5px;
				border-left: 1px solid #d5dadf;
				cursor: pointer;
	
				&:hover {
					background: #fafafb;
					border-radius: 0;
					box-shadow: none;
				}
			}
		}

		.wp-block-themeisle-blocks-google-map-marker-control-area {
			border: 1px solid #d5dadf;
			border-top: none;
			padding: 10px 15px;
			display: none;

			&.opened {
				display: block;
			}
		}
	}
}

.wp-block-themeisle-blocks-google-map-marker-add {
	display: flex;
	justify-content: center;
	width: 100%;
}

.wp-block-themeisle-blocks-map-overview {

	h6.wp-block-themeisle-blocks-map-overview-title {
		font-size: 14px;
		margin: 10px 0;
	}

	.wp-block-themeisle-blocks-map-overview-content p {
		font-size: 12px;
	}

	.wp-block-themeisle-blocks-map-overview-delete {
		cursor: pointer;
	}
}
