.wp-block-themeisle-blocks-form {
	.wp-block-themeisle-blocks-form__container {
		.wp-block-themeisle-blocks-business-form__container__content {
			.wp-block-themeisle-blocks-form-input {
				.wp-block-themeisle-blocks-form-input-label {
					width: 100%;

					.required {
						font-size: 14px;
						margin-left: 5px;
						color: #28303d;
					}
				}

				.wp-block-themeisle-blocks-form-input-label__input {
					width: 100%;
					margin-bottom: 1.5em;
				}
			}
		}
	}
}
