.wp-block-themeisle-blocks-button-group {
	display: flex;
	margin-bottom: 0;
	position: relative;

	&.collapse-desktop {
		flex-direction: column;

		.wp-block-themeisle-blocks-button {
			margin: 10px 0 !important;
		}
	}

	.wp-block-themeisle-blocks-button {
		cursor: pointer;
		font-size: 18px;
		margin: 0;
		text-align: center;
		text-decoration: none;
		white-space: normal;
		overflow-wrap: break-word;
		height: 100%;
	}

	i {
		&.margin-left {
			margin-left: 10px;
		}
	
		&.margin-right {
			margin-right: 10px;
		}
	}
}

@media ( max-width: 960px )  {
	.wp-block-themeisle-blocks-button-group {
		&.collapse-tablet {
			flex-direction: column;

			.wp-block-themeisle-blocks-button {
				margin: 10px 0 !important;
			}
		}
	}
}

@media ( max-width: 600px )  {
	.wp-block-themeisle-blocks-button-group {
		&.collapse-mobile {
			flex-direction: column;

			.wp-block-themeisle-blocks-button {
				margin: 10px 0 !important;
			}
		}
	}
}